<!doctype html>
<html>
	<head>
		<title>Round Trip Delay Time</title>
		<script src="/js/Chart.min.js"></script>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/rtcgraph.js", type="text/javascript"></script>
	</head>
	<body>
		<div style="width:40%">
			<div>
				<h2 align="center">Round Trip Delay Time</h2>
				<canvas id="canvas" height="500" width="700"></canvas>
				<div id="js-legend" class="chart-legend" style="height: 70px; width: 900px; margin-left: -30px"></div>

			</div>
		</div>


	<script>

        window.onload = function(){
		var myData = {};
		graph_type = "rtt";
		myData = get_data(graph_type);		
		if (Object.keys(myData).length == 0) {
			var ctx = document.getElementById("canvas").getContext("2d");
			ctx.font = "30px Georgia";
			ctx.fillText("No Live Calls . . .",10,50);
			lineChartData = {};
		}
		else {
			lineChartData = set_linechartdata(myData);
			var ctx = document.getElementById("canvas").getContext("2d");
			var myLine = new Chart(ctx).Line(lineChartData, {
			                        responsive: true,
			                        animation : true,
				                animationSteps : 90,
			                        scaleShowGridLines : false,
						scaleStartValue: 0,
			                        datasetFill : false,
						graphTitle : "rtt",
						animationLeftToRight : true,
						annotateDisplay : true,
						yAxisMinimumInterval : 1.0,
						legend : true,
						pointDotRadius : 3,
						animateScale : false,
						segmentShowStroke : false,
			                        animationEasing : "easeInQuad",
			                        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><dt style=\"float: left; margin-right: 10px\"><span style=\"border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></dt><%}%></ul>"
			        });
			  document.getElementById('js-legend').innerHTML = myLine.generateLegend();
		}
		setInterval(function() {
			var updated_chart_data = update_linechartdata(graph_type);
			console.log("updated_chart_data --> ", updated_chart_data)
	                var keys = Object.keys(updated_chart_data);
			console.log("id_set_map -->", id_set_map)
			if (keys.length == 0) {
				var ctx = document.getElementById("canvas").getContext("2d");
				ctx.clearRect(0, 0, 761, 543);
				ctx.font = "30px Georgia";
				ctx.fillText("No Live Calls . . .",10,50);
			}
			else {
				var update_data = [];
				for (k = 0; k < 3; k++) {
			        	for (i = 0; i < keys.length; i++) {
						console.log("keys found---> ", id_set_map[keys[i]])
						if (id_set_map.hasOwnProperty(keys[i])) {
							console.log("inside if")
							var array_index = id_set_map[keys[i]] 
							var label_keys = Object.keys(updated_chart_data[keys[i]])
							var label_values = (updated_chart_data[keys[i]][label_keys[k]])
							update_data[array_index] = label_values[0];
						}
						else {
							console.log("no key exists in id_set_map")
							id_set_map[keys[i]] = (Object.keys(id_set_map)).length
							var new_dataset_member = gen_dataset_member(keys[i])
							console.log("lineChartData old -->", lineChartData)
							lineChartData["datasets"].push(new_dataset_member)
							console.log("lineCHartData new -->", lineChartData)
						        var ctx = document.getElementById("canvas").getContext("2d");
							ctx.clearRect(0, 0, 761, 543);
						        myLine = new Chart(ctx).Line(lineChartData, {
					                                   responsive: true,
					                                   animation : true,
		                        			           animationSteps : 90,
					                                   scaleShowGridLines : false,
					                                   scaleStartValue: 0,
					                                   datasetFill : false,
					                                   graphTitle : "rtt",
					                                   animationLeftToRight : true,
					                                   annotateDisplay : true,
					                                   yAxisMinimumInterval : 1.0,
					                                   legend : true,
					                                   pointDotRadius : 3,
					                                   animateScale : false,
					                                   segmentShowStroke : false,
					                                   animationEasing : "easeInQuad",
							                   legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><dt style=\"float: left; margin-right: 10px\"><span style=\"border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></dt><%}%></ul>"
									});
							document.getElementById('js-legend').innerHTML = myLine.generateLegend();
							var array_index = id_set_map[keys[i]]
							var label_keys = Object.keys(updated_chart_data[keys[i]])
		                                        var label_values = (updated_chart_data[keys[i]][label_keys[k]])
							console.log("lable_keys and values in else --> ", label_keys, label_values)
		                                        update_data[array_index] = label_values[0];
							console.log("update_data array_index --> ", update_data[array_index])
							console.log("id_set_map in else --> ", id_set_map)
							console.log("update data in else --> ", update_data)
						}
					}
					console.log("update_data_aray --> ", update_data)
					myLine.addData(update_data, label_keys[k]);
					myLine.removeData();
					}
			}
	  	}, 30000);
	}
	
	</script>
	</body>
</html>

